Package: com.insanj.notescounter
Name: NotesCounter
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Live word counter in Notes.
 Draws a simple, attractive word and char counter on all iOS 7 devices. Tap to dim, swipe to switch.
Maintainer: Julian Weiss <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks
Icon: file:///Library/Application Support/NotesCounter/icon@2x.png